<a href="https://colab.research.google.com/github/chunter3/Data_Analytics_Projects/blob/master/Apriori_Algorithm%2C_Association_Rules%2C_%26_F1_Score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
%matplotlib inline

In [ ]:
# Problem 1 (Start)

In [ ]:
# Loading the Online Retail dataset using a Pandas dataframe (this cell takes a while to run)

online_ret_ds = pd.read_excel('Online Retail.xlsx')
online_ret_ds.head()

In [ ]:
# Cleaning up the dataset

online_ret_ds['Description'] = online_ret_ds['Description'].str.strip() # Removing whitespace of elements in 'Description' column
online_ret_ds.dropna(axis=0, subset=['InvoiceNo'], inplace=True) # Removing invalid rows based on 'InvoiceNo'
online_ret_ds['InvoiceNo'] = online_ret_ds['InvoiceNo'].astype('str') # Cast the 'InvoiceNo' column to a string
online_ret_ds = online_ret_ds[~online_ret_ds['InvoiceNo'].str.contains('C')] # Removing rows that have 'C' in their InvoiceNo
online_ret_ds

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[532621 rows x 8 columns]

In [ ]:
# Generating basket the Apriori algorithm will use 

france_basket = (online_ret_ds[online_ret_ds['Country']=="France"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))
france_basket

In [ ]:
# Encoding the dataset to a format readable by the Apriori algorithm (following code courtesy of edureka (https://www.youtube.com/channel/UCkw4JCwteGrDHIsyIIKo4tQ))

def encode_units(x):
  if x <= 0:
    return 0
  elif x >= 1:
    return 1
basket_sets = france_basket.applymap(encode_units)
basket_sets.drop('POSTAGE', inplace=True, axis=1)
basket_sets

In [ ]:
# Determining the itemset w/ the largest support

france_isets = apriori(basket_sets, min_support=0.05, use_colnames=True)
france_isets.max()

support                                              0.188776
itemsets    (SET/6 RED SPOTTY PAPER PLATES, SET/6 RED SPOT...
dtype: object

In [ ]:
# Using the association_rules module

asso_rules = association_rules(france_isets)
asso_rules.head()

                      antecedents  ... conviction
0      (ALARM CLOCK BAKELIKE RED)  ...   5.568878
1    (ALARM CLOCK BAKELIKE GREEN)  ...   4.916181
2  (CHILDRENS CUTLERY DOLLY GIRL)  ...   8.690476
3    (CHILDRENS CUTLERY SPACEBOY)  ...  12.535714
4    (PACK OF 6 SKULL PAPER CUPS)  ...   4.719388

[5 rows x 9 columns]

In [ ]:
# Determining the rule w/ the highest confidence

asso_rules[asso_rules['confidence']==asso_rules['confidence'].max()]

                                          antecedents  ... conviction
13  (SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...  ...  34.489796
14  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.897959

[2 rows x 9 columns]

In [ ]:
# Determining the rule w/ the highest lift

asso_rules[asso_rules['lift']==asso_rules['lift'].max()]

                    antecedents  ... conviction
4  (PACK OF 6 SKULL PAPER CUPS)  ...   4.719388

[1 rows x 9 columns]

In [ ]:
# Problem 1 (End)

In [ ]:
# Problem 2 (Start)

In [ ]:
# Loading the Extended Bakery dataset using a Pandas dataframe

bakery_ds = pd.read_csv('75000-out2-binary.csv')
bakery_ds.head()

In [ ]:
# Computing f11

bakery_ds[(bakery_ds['Chocolate Cake']==1) & (bakery_ds['Chocolate Coffee']==1)] # f11 = # of rows; f11 = 3303

In [ ]:
# Computing f00

bakery_ds[(bakery_ds['Chocolate Cake']==0) & (bakery_ds['Chocolate Coffee']==0)] # f00 = # of rows; f00 = 65802

In [ ]:
# Computing f01

bakery_ds[(bakery_ds['Chocolate Cake']==0) & (bakery_ds['Chocolate Coffee']==1)] # f01 = # of rows; f01 = 2933

In [ ]:
# Computing f10

bakery_ds[(bakery_ds['Chocolate Cake']==1) & (bakery_ds['Chocolate Coffee']==0)] # f10 = # of rows; f10 = 2962

In [ ]:
# Problem 2 (End)