<a href="https://colab.research.google.com/github/chunter3/Data_Analytics_Projects/blob/master/User_Profiles_%26_Utility_Matrices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity, cosine_distances

In [ ]:
# Problem 1 (Start)

In [ ]:
# Unzipping the ml-100k.zip file

!unzip ml-100k.zip

Archive:  ml-100k.zip
   creating: ml-100k/
  inflating: ml-100k/allbut.pl
  inflating: ml-100k/mku.sh
  inflating: ml-100k/README
  inflating: ml-100k/u.data
  inflating: ml-100k/u.genre
  inflating: ml-100k/u.info
  inflating: ml-100k/u.item
  inflating: ml-100k/u.occupation
  inflating: ml-100k/u.user
  inflating: ml-100k/u1.base
  inflating: ml-100k/u1.test
  inflating: ml-100k/u2.base
  inflating: ml-100k/u2.test
  inflating: ml-100k/u3.base
  inflating: ml-100k/u3.test
  inflating: ml-100k/u4.base
  inflating: ml-100k/u4.test
  inflating: ml-100k/u5.base
  inflating: ml-100k/u5.test
  inflating: ml-100k/ua.base
  inflating: ml-100k/ua.test
  inflating: ml-100k/ub.base
  inflating: ml-100k/ub.test

In [ ]:
# Verifying a successful unzipping of the ml-100k.zip file
!ls

ml-100k  ml-100k.zip  sample_data

In [ ]:
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', names=user_cols, encoding='latin-1', parse_dates=True)
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [ ]:
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=rating_cols, encoding='latin-1')
ratings.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [ ]:
movie_cols = ['movie_id', 'movie title', 'release date', 'video release date','IMDb URL',
             'Unknown', 'Action', 'Adventure', 'Animation', 'Childrens',
             'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
             'FilmNoir', 'Horror', 'Musical', 'Mystery', 'Romance',
             'SciFi', 'Thriller', 'War', 'Western']
movies = pd.read_csv('ml-100k/u.item', sep='|', names=movie_cols, encoding='latin-1')
movies.head()

In [ ]:
# Getting all ratings of movies watched by users 200 and 15
user200_ratings = ratings.loc[ratings['user_id']==200,['rating','movie_id']]
user15_ratings = ratings.loc[ratings['user_id']==15,['rating','movie_id']]

In [ ]:
# Getting all movies watched by users 200 and 15
user200_items = ratings.loc[ratings['user_id']==200,'movie_id']
user15_items = ratings.loc[ratings['user_id']==15,'movie_id']

In [ ]:
# Extracting movies and rating info from users 200 and 15 and movie 95
user200_movies = movies.loc[movies['movie_id'].isin(user200_items)]
user15_movies = movies.loc[movies['movie_id'].isin(user15_items)]
user200_df = pd.merge(user200_ratings, user200_movies, on='movie_id', how='outer')
user15_df = pd.merge(user15_ratings, user15_movies, on='movie_id', how='outer')

In [ ]:
# Creating user profile for user 200
user200_score = []
for i, j in enumerate(list(movies)[:-1]):
  movie = user200_df[user200_df[j]==1]
  avg = movie['rating'].mean()
  diff = movie['rating'].sub(avg)
  score = diff.sum()/user200_df.shape[0]
  user200_score.append(score)
user200_profile = pd.DataFrame([user200_score], columns = list(movies)[:-1])
user200_profile = user200_profile.drop(columns=['movie_id','movie title', 'release date', 'video release date', 'IMDb URL'])
# Creating user profile for user 15
user15_score = []
for i, j in enumerate(list(movies)[:-1]):
  movie = user15_df[user15_df[j]==1]
  avg = movie['rating'].mean()
  diff = movie['rating'].sub(avg)
  score = diff.sum()/user15_df.shape[0]
  user15_score.append(score)
user15_profile = pd.DataFrame([user15_score], columns = list(movies)[:-1])
user15_profile = user15_profile.drop(columns=['movie_id','movie title', 'release date', 'video release date', 'IMDb URL'])

In [ ]:
user200_profile

   Unknown        Action  ...      Thriller           War
0      0.0 -6.990293e-17  ...  9.868649e-17  1.233581e-17

[1 rows x 18 columns]

In [ ]:
user15_profile

   Unknown        Action  Adventure  ...         SciFi      Thriller           War
0      0.0  3.416071e-17        0.0  ...  1.708035e-17  2.562053e-17  8.540177e-18

[1 rows x 18 columns]

In [ ]:
# Cosine similarity and distance between user 200 and movie 95
movie_95 = movies[movies['movie_id']==95]
movie_95 = movie_95.drop(columns=['movie_id','movie title', 'release date', 'video release date', 'IMDb URL','Western'])
user200_cossim = cosine_similarity(user200_profile, movie_95)
user15_cossim = cosine_similarity(user15_profile, movie_95)
user200_cosdist = cosine_distances(user200_profile, movie_95)
user15_cosdist = cosine_distances(user15_profile, movie_95)
print("Similarity(User 200, movie 95) =", user200_cossim,"\n")
print("Similarity(User 15, movie 95) =", user15_cossim, "\n")
print("Distance(User 200, movie 95) =", user200_cosdist,"\n")
print("Distance(User 15, movie 95) =", user15_cosdist)

Similarity(User 200, movie 95) = [[-0.18968678]]

Similarity(User 15, movie 95) = [[0.35460407]]

Distance(User 200, movie 95) = [[1.18968678]]

Distance(User 15, movie 95) = [[0.64539593]]

In [ ]:
# Problem 1 (end)

In [ ]:
# Problem 2 (start)

In [ ]:
# Converting the ratings data into a centered utility matrix representation
util_matrix = ratings.pivot(index='user_id', columns='movie_id', values='rating')
user_means = util_matrix.mean(axis=1)
util_matrix_centered = util_matrix - user_means
util_matrix_centered = util_matrix_centered.where((pd.notnull(util_matrix_centered)),0)
util_matrix_centered.head()

In [ ]:
user1 = util_matrix_centered.iloc[:1,]
otherUsers = utility_centered.iloc[1:,]
similUsers = []
for i in range (942):
  userx =  otherUsers.iloc[i:i+1]
  cossim = cosine_similarity(user1,userx)
  if(cossim >= 0.25):
    similUsers.append(i + 2)
    print("Similarity(user1,user",i+2,"):", cossim,"\n")
similUsers

Similarity(user1,user 44 ): [[0.2529544]]

Similarity(user1,user 267 ): [[0.26476147]]

Similarity(user1,user 276 ): [[0.26815054]]

Similarity(user1,user 457 ): [[0.26233704]]

Similarity(user1,user 592 ): [[0.27840172]]

Similarity(user1,user 606 ): [[0.26084701]]

Similarity(user1,user 643 ): [[0.2640026]]

Similarity(user1,user 661 ): [[0.2505469]]

Similarity(user1,user 738 ): [[0.29148679]]

Similarity(user1,user 757 ): [[0.26236785]]

Similarity(user1,user 916 ): [[0.25562438]]

[44, 267, 276, 457, 592, 606, 643, 661, 738, 757, 916]

In [ ]:
# value = matrix[column][row]; yes it's weird that it's not row by column
for i in similUsers:
  print(util_matrix[508][i])

nan
5.0
5.0
nan
4.0
nan
nan
4.0
nan
nan

In [ ]:
# Problem 2 (end)